#well
{
    border: none;
    background-color: transparent;
}

#panier>tbody>tr:hover
{
    background-color:#f3f7f5;
}

#bouton
{
    color:#333;
    background-color: snow;
    border-color:#f3f7f5;
}

.input-file {
    visibility:hidden
}

.label-file {
    cursor: pointer;
    color: #00b1ca;
    font-weight: bold;
}

.label-file:hover {
    color: #25a5c4;
}


#bouton:hover
{
    color:#333;
    background-color:#f3f7f5;
    border-color:#f3f7f5;
}

.titrepanier
{
    background-color: snow;
}

.nompanier
{
    color: #000000;
    font-weight: normal;
    font-size: 15px;
}

#prixpanier
{
    color: #8aad9a;
    font-weight: bold;
    font-size: 18px;
}

#totalpanier
{
    font-size: 18px;
}

#body
{
    background-image: url("http://[::1]/DeFilEnAiguille/assets/images/FondEcran2.jpg");
    background-attachment: fixed;
}

#footer
{
    background-color: #c1d3c9;
    padding: 7%;
}

.lienPanier
{
	color:black;
	text-decoration: none;
}

.lienPanier:visited
{
	color:black;
	text-decoration:none;
}

.lienPanier:hover
{
	color:#8aad9a;
	text-decoration: none;
}

#quantitePanier
{
    border-radius: 50px;
    background: snow;
    padding: 0px; 
    width: 40px;
    height: 40px;
    text-align: center;
    vertical-align: center;
    color: black;
}

.titreAcceuil
{
    color: #ee9191;
    font-size: 30px;
    font-family: segoe script;
}

#divAcceuil
{
    background-color: #ffeeee;
}

.liensCatalogue
{
    color:black;
    text-decoration: none;
    font-family: segoe script;
    font-weight: bold;
}

.liensCatalogue:visited
{
	color:black;
    text-decoration: none;
    font-family: segoe script;
    font-weight: bold;
}

.liensCatalogue:hover
{
	color:black;
    text-decoration: none;
    font-family: segoe script;
    font-weight: bold;
}

#texteDeFilEnAiguille
{
    font-family: segoe script;
    font-weight: bold;
    font-size: 15px;
}

#TitrePage
{
    color: #ee9191;
    font-family: segoe script;
    font-size: 40px;
}

#MenuVertical
{
    background-color:#f3f7f5;
}

a
{
	color:#67a081;
	text-decoration: none;
}

a:hover
{
	color:#3b6950;
	text-decoration: bold;
}

a:visited
{
	color:#67a081;
	text-decoration:none;
}

* 
{
    box-sizing: border-box;
}

input[type=text], input[type=password], textarea, select
{
    width: 100%;
    padding: 12px;
    border: 1px solid #ee9191;
    border-radius: 10px;
    resize: vertical;
}

label 
{
    padding: 12px 12px 12px 0;
    display: inline-block;
    font-family: Segoe UI Light;
    font-size: 20px;
}

input[type=submit] 
{
    background-color: #ee9191;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    float: left;
    width: 100%;
}

input[type=submit]:hover 
{
    background-color: #eba2a2;
}

#container
{
    width: 65%;
}

#container2
{
    width: 100%;
    border: none;
    background-color: transparent;
}

#lienInscription
{
    color:#ee9191;
	text-decoration: none;
}

#lienInscription:hover
{
	color:#cc5f5f;
	text-decoration: underline;
}

.titreAdresse
{
    color: #67a081;
    font-size: 30px;
    font-family: segoe script;
}